# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

**/tmp
test/**
key.json
settings.yaml
go.sum
ram
cloud_function_source.zip
services/monitor/constraints.yaml
opa_tests/**